// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include "irq.h"

/ {
	model = "Avnet ZedBoard board";
	compatible = "avnet,zynq-zed", "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		spi0 = &qspi;
		mmc0 = &sdhci0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	// --- 
	fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;
		// -- Verified
		i2c@41600000 {
			compatible = "xlnx,axi-iic-1.01.b\0xlnx,xps-iic-2.00.a";
			reg = <0x41600000 0x10000>;
			interrupt-parent = <&intc>;
			interrupts = <0 58 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc 15>;
			clock-names = "pclk";

			#size-cells = <0>;
			#address-cells = <1>;
			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>, <0x3f>;
				reg-names = "primary", "edid";

				adi,input-depth = <8>;
				adi,input-colorspace = "yuv422";
				adi,input-clock = "1x";
				adi,input-style = <1>;
				adi,input-justification = "right";
				adi,clock-delay = <0>;

				#sound-dai-cells = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						adv7511_in: endpoint {
							remote-endpoint = <&axi_hdmi_out>;
						};
					};

					port@1 {
						reg = <1>;
					};
				};
			};

			adau1761: adau1761@3b {
				compatible = "adi,adau1761";
				reg = <0x3b>;

				clocks = <&audio_clock>;
				clock-names = "mclk";

				#sound-dai-cells = <0>;
			};
		};

		// --- Verified
		hdmi_dma: dma@43000000{
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x43000000 0x1000>;
			#dma-cells = <1>;
			interrupts = <0 59 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&intc>;
			clocks = <&clkc 16>;

			adi,channels{
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <1>;
				};
			};
		};

		// --- Verified
		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 15>, <&clkc 16>;
			clock-names = "s_axi_aclk", "clkin1";
		};

		// --- Verified
		axi_hdmi@70e00000{
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			dmas = <&hdmi_dma 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
			port {
				axi_hdmi_out: endpoint {
					remote-endpoint = <&adv7511_in>;
				};
			};
		};
		
		// --- Verified
		axi_spdif_tx_0: axi-spdif-tx@75c00000{
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&dmac_s 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>;
			clock-names = "axi", "ref";

			#sound-dai-cells = <0>;
		};

		// --- Verified
		axi_i2s_0: axi-i2s@77600000 {
			compatible = "adi,axi-i2s-1.00.a";
			reg = <0x77600000 0x1000>;
			dmas = <&dmac_s 1 &dmac_s 2>;
			dma-names = "tx", "rx";
			clocks = <&clkc 15>, <&audio_clock>;
			clock-names = "axi", "ref";

			#sound-dai-cells = <0>;
		};

		// --- Verified
		axi_sysid_0: axi-sysid-0@45000000 {
			compatible = "adi,axi-sysid-1.00.a";
			reg = <0x45000000 0x10000>;
		};

        // --- Verified
		fmc_i2c: i2c@41620000 {
			compatible = "xlnx,axi-iic-1.01.b\0xlnx,xps-iic-2.00.a";
			reg = <0x41620000 0x10000>;
			interrupt-parent = <&intc>;
			interrupts = <0 55 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc 15>;
			clock-names = "pclk";
			#size-cells = <0>;
			#address-cells = <1>;

			eeprom@50 {
				compatible = "at24,24c02";
				reg = <0x50>;
			};

			ad7291@2f {
				compatible = "adi,ad7291";
				reg = <0x2f>;
			};
		};

		//--- Verified
		rx_dma: dma@7c400000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x7c400000 0x1000>;
			#dma-cells = <1>;
			interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&intc>;
			clocks = <&clkc 16>;
			

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <2>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <0>;
				};
			};
		};

		//--- Verified
		tx_dma: dma@7c420000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x7c420000 0x1000>;
			#dma-cells = <1>;
			interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&intc>;
			clocks = <&clkc 16>;
			

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <2>;
				};
			};
		};

		//--- Verified
		cf_ad9361_adc_core_0: cf-ad9361-lpc@79020000 {
			compatible = "adi,axi-ad9361-6.00.a";
			reg = <0x79020000 0x6000>;
			dmas = <&rx_dma 0>;
			dma-names = "rx";
			spibus-connected = <&adc0_ad9361>;
		};

		//--- Verified
		cf_ad9361_dac_core_0: cf-ad9361-dds-core-lpc@79024000 {
			compatible = "adi,axi-ad9361-dds-6.00.a";
			reg = <0x79024000 0x1000>;
			clocks = <&adc0_ad9361 13>;
			clock-names = "sampl_clk";
			dmas = <&tx_dma 0>;
			dma-names = "tx";
		};
	};

	// ---
	adc0_ad9361 {
		en_agc-gpios = <&gpio0 98 0>;
		sync-gpios = <&gpio0 99 0>;
		reset-gpios = <&gpio0 100 0>;
		enable-gpios = <&gpio0 101 0>;
		txnrx-gpios = <&gpio0 102 0>;
	};

	// ---
	spi0 {
		status = "okay";
	};

	spi1 {
		status = "okay";
	};

	lo_pll0_rx_adf4351 {
		gpios = <&gpio0 103 0>;
	};

	lo_pll0_tx_adf4351 {
		gpios = <&gpio0 104 0>;
	};

	audio_clock: audio_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};

	// --- Verified
	adv7511_hdmi_snd {
		compatible = "simple-audio-card";
		simple-audio-card,name = "HDMI monitor";
		simple-audio-card,widgets =
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"Speaker", "TX";

		simple-audio-card,dai-link@0 {
			format = "spdif";
			cpu {
				sound-dai = <&axi_spdif_tx_0>;
			};
			codec {
				sound-dai = <&adv7511 1>;
			};
		};
	};

	// --- Verified
	zed_sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ZED ADAU1761";
		simple-audio-card,widgets =
			"Microphone", "Mic In",
			"Headphone", "Headphone Out",
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line Out", "LOUT",
			"Line Out", "ROUT",
			"Headphone Out", "LHP",
			"Headphone Out", "RHP",
			"Mic In", "MICBIAS",
			"LINN", "Mic In",
			"RINN", "Mic In",
			"LAUX", "Line In",
			"RAUX", "Line In";

		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&axi_i2s_0>;
			};
			codec {
				sound-dai = <&adau1761>;
			};
		};
	};

	// --- Verified
	leds {
		compatible = "gpio-leds";
		ld0 {
			label = "ld0:red";
			gpios = <&gpio0 73 0>;
		};

		ld1 {
			label = "ld1:red";
			gpios = <&gpio0 74 0>;
		};

		ld2 {
			label = "ld2:red";
			gpios = <&gpio0 75 0>;
		};

		ld3 {
			label = "ld3:red";
			gpios = <&gpio0 76 0>;
		};

		ld4 {
			label = "ld4:red";
			gpios = <&gpio0 77 0>;
		};

		ld5 {
			label = "ld5:red";
			gpios = <&gpio0 78 0>;
		};

		ld6 {
			label = "ld6:red";
			gpios = <&gpio0 79 0>;
		};

		ld7 {
			label = "ld7:red";
			gpios = <&gpio0 80 0>;
		};
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&qspi {
	bootph-all;
	status = "okay";
	num-cs = <1>;
	flash@0 {
		compatible = "spansion,s25fl256s1", "jedec,spi-nor";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		m25p,fast-read;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			partition@0 {
				label = "qspi-fsbl-uboot";
				reg = <0x0 0x100000>;
			};
			partition@100000 {
				label = "qspi-linux";
				reg = <0x100000 0x500000>;
			};
			partition@600000 {
				label = "qspi-device-tree";
				reg = <0x600000 0x20000>;
			};
			partition@620000 {
				label = "qspi-rootfs";
				reg = <0x620000 0x5e0000>;
			};
			partition@c00000 {
				label = "qspi-bitstream";
				reg = <0xc00000 0x400000>;
			};
		};
	};
};

&sdhci0 {
	bootph-all;
	status = "okay";
};

&uart1 {
	bootph-all;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
